web
web/*
data/.logins
data/.htaccess
data/experiments/published/*
!data/experiments/published/.placeholder

data/experiments/unpublished/*
!data/experiments/unpublished/.placeholder

data/experiments/key_restricted/*
!data/experiments/key_restricted/.placeholder

data/experiment_index/*
!data/experiment_index/.placeholder

data/events/generated/*
!data/events/generated/.placeholder

data/events/media/photo/*
!data/events/media/photo/.placeholder

data/events/media/audio/*
!data/events/media/audio/.placeholder

data/events/inputs/*
!data/events/inputs/.placeholder

data/events/keys/*
!data/events/keys/.placeholder

data/messages/*
!data/messages/.placeholder
